<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Github OAuth</title>
</head>
<body>
  <nav>
    <% if (!user) { %> 
      <a href="/auth/github">Login With Github</a>
    <% } else { %> 
      <a href="/logout">Logout</a>
      <a href="/api/repos">Check Out your Apis!</a>
    <% } %>
  </nav>
  <h1>It's a Header!</h1>
  <%-body %>
</body>
</html>
